[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"flake8" = "*"
"e1839a8" = {editable = true, path = "."}

[packages]
ipython = "*"
jupyter = "*"
pyreadline = "*"
sqlitebiter = "*"
jx-sqlite = "*"
krakenex = "*"
pykrakenapi = "*"
ipywidgets = "*"
jedi = "*"
"flake8" = "*"
"autopep8" = "*"
yapf = "*"
rope = "*"
flask = "*"
"oct2py" = "*"
sqlalchemy = "*"
blinker = "*"

[requires]
python_version = "3.5"
