[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
pytest = "*"
"flake8" = "*"

[packages]
ipython = "*"
jupyter = "*"
pyreadline = "*"
"e1839a8" = {editable = true, path = "."}
sqlitebiter = "*"
jx-sqlite = "*"
krakenex = "*"
pykrakenapi = "*"
ipywidgets = "*"

[requires]
python_version = "3.5"
